.zcompdump*
.zhistory
.zcalc_hist
*/.zcompcache/*

.gdb_history

*.uuid
*.zwc

*.pyc
__pycache__/*

python/.ptpython/history
main/.config/mpv/watch_later/*

main/.vimcoder/*
!main/.vimcoder/C++Makefile
!main/.vimcoder/C++Template
